{snippet datatable}
{table $control}

	<!-- Drahak\Table header -->
	<thead>
		<tr>
		{foreach $control->columns as $column}
			{th $column->getName() /}
		{/foreach}
		</tr>
	</thead>

	<!-- Drahak\Tables body -->
	<tbody>
		<tr n:foreach="$control->rows as $row">
		{foreach $control->columns as $column}
			{td $column->getName() /}
		{/foreach}
		</tr>
	</tbody>

{/table}
{/snippet}